data/.flows.json.backup
[
    {
        "id": "91419fc3ca0e10e3",
        "type": "tab",
        "label": "Web",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "7ace4e2a8fb04426",
        "type": "tab",
        "label": "DB",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "6db3e9ae8a30bde3",
        "type": "tab",
        "label": "http",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "ecf6b12423f1e7cb",
        "type": "tab",
        "label": "init",
        "disabled": false,
        "info": "Действия при старте",
        "env": []
    },
    {
        "id": "14b0dde0fa1ebbfd",
        "type": "subflow",
        "name": "Subflow HTTP GET",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 200,
                "y": 80,
                "wires": [
                    {
                        "id": "1e6e155bd23cde74"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 880,
                "y": 80,
                "wires": [
                    {
                        "id": "67f104891bac4664",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [
            {
                "name": "CMD",
                "type": "str",
                "value": "version"
            }
        ],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "f63262b0a0cc45b0",
        "type": "subflow",
        "name": "Subflow HTTP POST",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 140,
                "y": 80,
                "wires": [
                    {
                        "id": "3fc9cd16a30783d4"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 680,
                "y": 80,
                "wires": [
                    {
                        "id": "77589d7ce0cc5889",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [
            {
                "name": "CMD",
                "type": "str",
                "value": "license"
            }
        ],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "3142b3093d07a5c6",
        "type": "subflow",
        "name": "Subflow DB",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 60,
                "y": 80,
                "wires": [
                    {
                        "id": "a24d712a0ae056ce"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 360,
                "y": 80,
                "wires": [
                    {
                        "id": "a24d712a0ae056ce",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "7184709957891172",
        "type": "subflow",
        "name": "Subflow DB LOG",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 80,
                "y": 80,
                "wires": [
                    {
                        "id": "3e9e8ce0255d6735"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 580,
                "y": 80,
                "wires": [
                    {
                        "id": "56433f3495193ab4",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "508d23eca865e758",
        "type": "subflow",
        "name": "Subflow DB ERR LOG",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 80,
                "y": 80,
                "wires": [
                    {
                        "id": "8e8b91e440ef3817"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 680,
                "y": 80,
                "wires": [
                    {
                        "id": "da1434a88a5672df",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "f36b9cb553093c99",
        "type": "subflow",
        "name": "upd SCALES",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 60,
                "y": 120,
                "wires": [
                    {
                        "id": "1f6d76cb80c12905"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 780,
                "y": 140,
                "wires": [
                    {
                        "id": "aebbc2ac4090af02",
                        "port": 0
                    },
                    {
                        "id": "e110f91b4abf62cb",
                        "port": 1
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "872b6df0aee54332",
        "type": "global-config",
        "name": "global-config",
        "env": []
    },
    {
        "id": "1b4560745b99d6d2",
        "type": "sqlitedb",
        "db": "/data/main.db",
        "mode": "RWC"
    },
    {
        "id": "120fbe7d325ebdf0",
        "type": "ui-base",
        "name": "My Dashboard",
        "path": "/dashboard",
        "includeClientData": true,
        "acceptsClientConfig": [
            "ui-notification",
            "ui-control"
        ],
        "showPathInSidebar": false,
        "showPageTitle": true,
        "navigationStyle": "default",
        "titleBarStyle": "default"
    },
    {
        "id": "8a591effa6f76af0",
        "type": "ui-theme",
        "name": "Default Theme",
        "colors": {
            "surface": "#ffffff",
            "primary": "#0094CE",
            "bgPage": "#eeeeee",
            "groupBg": "#ffffff",
            "groupOutline": "#cccccc"
        },
        "sizes": {
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "4px",
            "widgetGap": "12px"
        }
    },
    {
        "id": "0449864c44d7bf39",
        "type": "ui-page",
        "name": "Конфигурация оборудования",
        "ui": "120fbe7d325ebdf0",
        "path": "/hwconfig",
        "icon": "cog",
        "layout": "grid",
        "theme": "8a591effa6f76af0",
        "order": 3,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "c6ead6288c8e4ee2",
        "type": "ui-group",
        "name": "My Group",
        "page": "0449864c44d7bf39",
        "width": "6",
        "height": "1",
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "a147a6e84ccbe9f8",
        "type": "ui-page",
        "name": "Регистрация",
        "ui": "120fbe7d325ebdf0",
        "path": "/regs",
        "icon": "key",
        "layout": "grid",
        "theme": "8a591effa6f76af0",
        "order": 6,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "8eddb8e7ccadb20c",
        "type": "ui-page",
        "name": "Управление",
        "ui": "120fbe7d325ebdf0",
        "path": "/ctl",
        "icon": "truck",
        "layout": "grid",
        "theme": "8a591effa6f76af0",
        "order": 1,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "ea438148c209daf5",
        "type": "ui-page",
        "name": "Настройки оборудования",
        "ui": "120fbe7d325ebdf0",
        "path": "/hwparams",
        "icon": "cogs",
        "layout": "grid",
        "theme": "8a591effa6f76af0",
        "order": 4,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "2ddac257f0e96f9c",
        "type": "ui-page",
        "name": "Журнал",
        "ui": "120fbe7d325ebdf0",
        "path": "/log",
        "icon": "flag",
        "layout": "grid",
        "theme": "8a591effa6f76af0",
        "order": 5,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "b61aadbc9f2ccaad",
        "type": "websocket-client",
        "path": "ws://127.0.0.1:19023",
        "tls": "",
        "wholemsg": "false",
        "hb": "0",
        "subprotocol": "",
        "headers": []
    },
    {
        "id": "8b5a10d6cb022220",
        "type": "ui-group",
        "name": "Лицензия",
        "page": "a147a6e84ccbe9f8",
        "width": "3",
        "height": "1",
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "eebad01a5b89838a",
        "type": "ui-group",
        "name": "Активация",
        "page": "a147a6e84ccbe9f8",
        "width": "3",
        "height": "1",
        "order": 2,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "70e1120c7440fcd4",
        "type": "websocket-listener",
        "path": "ws://127.0.0.1:19022",
        "wholemsg": "false"
    },
    {
        "id": "c9f35d8bafef0704",
        "type": "ui-page",
        "name": "Настройки",
        "ui": "120fbe7d325ebdf0",
        "path": "/settings",
        "icon": "wrench",
        "layout": "grid",
        "theme": "8a591effa6f76af0",
        "order": 2,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "ab4df42e6de32b4e",
        "type": "ui-group",
        "name": "Настройки системы",
        "page": "c9f35d8bafef0704",
        "width": "4",
        "height": "1",
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "7e971fe229f2e337",
        "type": "ui-group",
        "name": "Group Name",
        "page": "2ddac257f0e96f9c",
        "width": "12",
        "height": "1",
        "order": -1,
        "showTitle": false,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "67f104891bac4664",
        "type": "http request",
        "z": "14b0dde0fa1ebbfd",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "{{{base}}}/{{path}}",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 630,
        "y": 80,
        "wires": [
            [
                "188d698639f41225"
            ]
        ]
    },
    {
        "id": "1e6e155bd23cde74",
        "type": "change",
        "z": "14b0dde0fa1ebbfd",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "base",
                "pt": "msg",
                "to": "payload.drvhost",
                "tot": "global"
            },
            {
                "t": "set",
                "p": "path",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 360,
        "y": 80,
        "wires": [
            [
                "67f104891bac4664",
                "629e7b9d8325bb26"
            ]
        ]
    },
    {
        "id": "188d698639f41225",
        "type": "debug",
        "z": "14b0dde0fa1ebbfd",
        "name": "debug 17",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 800,
        "y": 40,
        "wires": []
    },
    {
        "id": "629e7b9d8325bb26",
        "type": "debug",
        "z": "14b0dde0fa1ebbfd",
        "name": "debug 18",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 560,
        "y": 140,
        "wires": []
    },
    {
        "id": "77589d7ce0cc5889",
        "type": "http request",
        "z": "f63262b0a0cc45b0",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "{{{base}}}/{{path}}",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 550,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "3fc9cd16a30783d4",
        "type": "change",
        "z": "f63262b0a0cc45b0",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "base",
                "pt": "msg",
                "to": "payload.drvhost",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 300,
        "y": 80,
        "wires": [
            [
                "77589d7ce0cc5889"
            ]
        ]
    },
    {
        "id": "a24d712a0ae056ce",
        "type": "sqlite",
        "z": "3142b3093d07a5c6",
        "mydb": "1b4560745b99d6d2",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "main",
        "x": 190,
        "y": 80,
        "wires": [
            [
                "d6b87df0cd649863"
            ]
        ]
    },
    {
        "id": "d6b87df0cd649863",
        "type": "debug",
        "z": "3142b3093d07a5c6",
        "name": "debug DB",
        "active": true,
        "tosidebar": false,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 340,
        "y": 20,
        "wires": []
    },
    {
        "id": "56433f3495193ab4",
        "type": "sqlite",
        "z": "7184709957891172",
        "mydb": "1b4560745b99d6d2",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "main",
        "x": 390,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "3e9e8ce0255d6735",
        "type": "function",
        "z": "7184709957891172",
        "name": "function 2",
        "func": "let ev_gr = msg.payload.ev_gr || 'unkn';\nlet ev_type = msg.payload.ev_type || 'info';\nlet ev_msg = msg.payload.ev_msg || '??';\n\nmsg.topic = 'INSERT INTO \"event_log\" (\"event_at\",\"event_group\",\"event_type\",\"event_msg\") VALUES(datetime(\"now\"), $val1, $val2, $val3)';\nmsg.payload = [ev_gr, ev_type, ev_msg];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 200,
        "y": 80,
        "wires": [
            [
                "56433f3495193ab4"
            ]
        ]
    },
    {
        "id": "da1434a88a5672df",
        "type": "sqlite",
        "z": "508d23eca865e758",
        "mydb": "1b4560745b99d6d2",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "main",
        "x": 550,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "8e8b91e440ef3817",
        "type": "function",
        "z": "508d23eca865e758",
        "name": "function 3",
        "func": "let ev_gr = msg.payload.ev_gr || 'unkn';\nlet err = msg.error || {};\nlet emsg = err.message || '';\nlet src = err.source || {};\nlet eid = src.id || '?';\nlet etype = src.type || '?';\n\nif (emsg == '') {\n    msg.res = 0;\n} else {\n    msg.res = 1;\n}\nmsg.topic = 'INSERT INTO \"event_log\" (\"event_at\",\"event_group\",\"event_type\",\"event_msg\") VALUES(datetime(\"now\"), $val1, $val2, $val3)';\nmsg.payload = [ev_gr, 'err', emsg + ' (id ' + eid + ', type ' + etype + ')'];\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 220,
        "y": 80,
        "wires": [
            [
                "836f3b1292b7b2ce"
            ]
        ]
    },
    {
        "id": "836f3b1292b7b2ce",
        "type": "switch",
        "z": "508d23eca865e758",
        "name": "непустые",
        "property": "res",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 380,
        "y": 80,
        "wires": [
            [
                "da1434a88a5672df"
            ],
            []
        ]
    },
    {
        "id": "6d9cba9640691f30",
        "type": "comment",
        "z": "f36b9cb553093c99",
        "name": "слежение за весами",
        "info": "",
        "x": 140,
        "y": 40,
        "wires": []
    },
    {
        "id": "1f6d76cb80c12905",
        "type": "function",
        "z": "f36b9cb553093c99",
        "name": "function 4",
        "func": "// на вход приходит объект \n// payload: {\n//   \"weight\": 0,\n//   \"valid\": true,\n//   \"stable\": false\n// }\n//\nvar idx = msg.parts.index;\n\n// принимаем решение, нужно ли записывать в БД:\n// если данные изменились и прошло больше global.hw.scales_ch_interval\n// или данные не изменились и прошло больше global.hw.scales_unch_interval\n//\nvar w = msg.payload.weight;\nvar v = msg.payload.valid;\nvar s = msg.payload.stable;\nvar sc = global.get(\"hw.scales\")[idx];\nvar scdif = global.get(\"diffs.scales\");\n\nvar chgd = false;\nif (\n    (Math.abs(w - sc.weight) > scdif.delta) ||\n    (v != sc.valid) ||\n    (s != sc.stable), 1, 0\n) chgd = true;\nmsg.changed = chgd;\n\nvar t = Date.now() - sc.wr_at;\nmsg.elapsedtime = t;\n\nif ((chgd && (t > scdif.ch)) || (!chgd && (t > scdif.unch))) {\n    msg.res = 1;\n} else {\n    msg.res =0;\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 180,
        "y": 120,
        "wires": [
            [
                "e110f91b4abf62cb"
            ]
        ]
    },
    {
        "id": "e110f91b4abf62cb",
        "type": "switch",
        "z": "f36b9cb553093c99",
        "name": "",
        "property": "res",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 410,
        "y": 120,
        "wires": [
            [
                "aebbc2ac4090af02"
            ],
            []
        ]
    },
    {
        "id": "aebbc2ac4090af02",
        "type": "function",
        "z": "f36b9cb553093c99",
        "name": "function 5",
        "func": "var idx = msg.parts.index;\n\nvar w = msg.payload.weight;\nvar v = msg.payload.valid;\nvar s = msg.payload.stable;\nvar sc = global.get(\"hw.scales\");\n\nsc[idx].weight = w;\nsc[idx].valid  = v;\nsc[idx].stable = s;\nsc[idx].wr_at = Date.now();\n\nglobal.set(\"hw.scales\", sc);\n\nmsg.updated = true;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "b3ca844d03d55cac",
        "type": "comment",
        "z": "91419fc3ca0e10e3",
        "name": "Активация лицензии",
        "info": "Слежение за взвешиваниями на статических полноразмерных автовесах",
        "x": 120,
        "y": 60,
        "wires": []
    },
    {
        "id": "5af8e021fc11ae94",
        "type": "ui-form",
        "z": "91419fc3ca0e10e3",
        "name": "",
        "group": "eebad01a5b89838a",
        "label": "",
        "order": 1,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Серийный номер",
                "key": "serialno",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Код активации",
                "key": "act_key",
                "type": "text",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "serialno": "",
            "act_key": ""
        },
        "payload": "",
        "submit": "Готово",
        "cancel": "Отмена",
        "resetOnSubmit": true,
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "className": "",
        "passthru": false,
        "x": 70,
        "y": 140,
        "wires": [
            [
                "07cdef9577239405",
                "6b05c48041c84e20"
            ]
        ]
    },
    {
        "id": "07cdef9577239405",
        "type": "debug",
        "z": "91419fc3ca0e10e3",
        "name": "debug 4",
        "active": true,
        "tosidebar": false,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 220,
        "y": 100,
        "wires": []
    },
    {
        "id": "6b05c48041c84e20",
        "type": "function",
        "z": "91419fc3ca0e10e3",
        "name": "function 1",
        "func": "msg.req = {};\nmsg.req.body = {};\nmsg.req.body.serialno = msg.payload.serialno;\nmsg.req.body.act_key  = msg.payload.act_key;\nmsg.path = 'license';\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 220,
        "y": 180,
        "wires": [
            [
                "55fa35850693fb3b",
                "e55bf9dfa87cf692"
            ]
        ]
    },
    {
        "id": "55fa35850693fb3b",
        "type": "subflow:f63262b0a0cc45b0",
        "z": "91419fc3ca0e10e3",
        "name": "",
        "x": 460,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "3c79b1b76da60755",
        "type": "link call",
        "z": "91419fc3ca0e10e3",
        "name": "LIC REREAD",
        "links": [
            "6abf9d2277eba58d"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 700,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "e55bf9dfa87cf692",
        "type": "change",
        "z": "91419fc3ca0e10e3",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "license",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 470,
        "y": 100,
        "wires": [
            [
                "3c79b1b76da60755"
            ]
        ]
    },
    {
        "id": "db4ab83445b667eb",
        "type": "comment",
        "z": "91419fc3ca0e10e3",
        "name": "Просмотр журнала событий",
        "info": "",
        "x": 140,
        "y": 260,
        "wires": []
    },
    {
        "id": "6922b246a01399aa",
        "type": "ui-form",
        "z": "91419fc3ca0e10e3",
        "name": "Event form bounds",
        "group": "7e971fe229f2e337",
        "label": "",
        "order": 0,
        "width": "4",
        "height": "1",
        "options": [
            {
                "label": "Начало",
                "key": "DLO",
                "type": "date",
                "required": true,
                "rows": null
            },
            {
                "label": "",
                "key": "TLO",
                "type": "time",
                "required": true,
                "rows": null
            },
            {
                "label": "Окончание",
                "key": "DHI",
                "type": "date",
                "required": true,
                "rows": null
            },
            {
                "label": "",
                "key": "THI",
                "type": "time",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "DLO": "",
            "TLO": "",
            "DHI": "",
            "THI": ""
        },
        "payload": "",
        "submit": "Прочитать",
        "cancel": "Отмена",
        "resetOnSubmit": false,
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": true,
        "className": "",
        "passthru": false,
        "x": 110,
        "y": 320,
        "wires": [
            [
                "7c29e1d7a4b72021",
                "0d5386c37dd00fa4"
            ]
        ]
    },
    {
        "id": "7c29e1d7a4b72021",
        "type": "debug",
        "z": "91419fc3ca0e10e3",
        "name": "debug 22",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 300,
        "y": 300,
        "wires": []
    },
    {
        "id": "0d5386c37dd00fa4",
        "type": "function",
        "z": "91419fc3ca0e10e3",
        "name": "Prepare SQL query",
        "func": "var dlo = msg.payload['DLO'] + \" \" + msg.payload['TLO'];\nvar dhi = msg.payload['DHI'] + \" \" + msg.payload['THI'];\nmsg.topic = \"select e.event_at, e.event_type, e.event_group, e.event_msg from event_log e where e.event_at between '\" + dlo + \"' and '\" + dhi + \"'\";\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 360,
        "wires": [
            [
                "1b6432b2f7acb2de",
                "1989081efcbaefe1"
            ]
        ]
    },
    {
        "id": "77141ffc0cf51806",
        "type": "ui-table",
        "z": "91419fc3ca0e10e3",
        "group": "7e971fe229f2e337",
        "name": "",
        "label": "text",
        "order": 0,
        "width": "12",
        "height": "1",
        "maxrows": "25",
        "passthru": false,
        "autocols": false,
        "showSearch": true,
        "selectionType": "click",
        "columns": [
            {
                "title": "Дата",
                "key": "event_at",
                "type": "text",
                "width": "",
                "align": "start"
            },
            {
                "title": "Тип",
                "key": "event_type",
                "type": "text",
                "width": "",
                "align": "start"
            },
            {
                "title": "Группа",
                "key": "event_group",
                "type": "text",
                "width": "",
                "align": "start"
            },
            {
                "title": "Тест",
                "key": "event_msg",
                "type": "text",
                "width": "",
                "align": "start"
            }
        ],
        "x": 830,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "1b6432b2f7acb2de",
        "type": "debug",
        "z": "91419fc3ca0e10e3",
        "name": "debug 23",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 490,
        "y": 300,
        "wires": []
    },
    {
        "id": "1989081efcbaefe1",
        "type": "sqlite",
        "z": "91419fc3ca0e10e3",
        "mydb": "1b4560745b99d6d2",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "event log",
        "x": 560,
        "y": 360,
        "wires": [
            [
                "77141ffc0cf51806"
            ]
        ]
    },
    {
        "id": "497045853487ebee",
        "type": "inject",
        "z": "7ace4e2a8fb04426",
        "name": "check event log",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "CREATE TABLE IF NOT EXISTS \"event_log\" (\"id\" INTEGER NOT NULL, \"event_at\" TEXT NOT NULL, \"event_group\" TEXT NOT NULL, \"event_type\" TEXT NOT NULL, \"event_msg\" TEXT, PRIMARY KEY(\"id\" AUTOINCREMENT))",
        "x": 160,
        "y": 180,
        "wires": [
            [
                "ae55efe4f12608d7"
            ]
        ]
    },
    {
        "id": "6d9c30f9785edd00",
        "type": "inject",
        "z": "7ace4e2a8fb04426",
        "name": "check user table",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "CREATE TABLE IF NOT EXISTS \"users\" (\"user_login\"\tTEXT NOT NULL UNIQUE, \"user_psw\" TEXT NOT NULL, \"user_name\" TEXT, PRIMARY KEY(\"user_login\"))",
        "payload": "CREATE TABLE IF NOT EXISTS \"users\" (\"user_login\"\tTEXT NOT NULL UNIQUE, \"user_psw\" TEXT NOT NULL, \"user_name\" TEXT, PRIMARY KEY(\"user_login\"))",
        "payloadType": "str",
        "x": 170,
        "y": 120,
        "wires": [
            [
                "ae55efe4f12608d7"
            ]
        ]
    },
    {
        "id": "ae55efe4f12608d7",
        "type": "subflow:3142b3093d07a5c6",
        "z": "7ace4e2a8fb04426",
        "name": "",
        "x": 530,
        "y": 120,
        "wires": [
            [
                "21d35252c2a27db7"
            ]
        ]
    },
    {
        "id": "817060cb9a987c52",
        "type": "comment",
        "z": "7ace4e2a8fb04426",
        "name": "проверка БД при старте",
        "info": "",
        "x": 150,
        "y": 40,
        "wires": []
    },
    {
        "id": "0de577e91e7f460b",
        "type": "catch",
        "z": "7ace4e2a8fb04426",
        "name": "",
        "scope": null,
        "uncaught": false,
        "x": 130,
        "y": 400,
        "wires": [
            [
                "d4360334d8ae6420"
            ]
        ]
    },
    {
        "id": "21d35252c2a27db7",
        "type": "debug",
        "z": "7ace4e2a8fb04426",
        "name": "debug DB INIT",
        "active": true,
        "tosidebar": false,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 720,
        "y": 120,
        "wires": []
    },
    {
        "id": "d4360334d8ae6420",
        "type": "debug",
        "z": "7ace4e2a8fb04426",
        "name": "debug DB ERR",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 320,
        "y": 400,
        "wires": []
    },
    {
        "id": "1832f7c1c581976c",
        "type": "inject",
        "z": "7ace4e2a8fb04426",
        "name": "check event log",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "1.1",
        "topic": "CREATE INDEX IF NOT EXISTS \"event_log_at_idx\" ON \"event_log\" ( \t\"event_at\"\tASC )",
        "x": 160,
        "y": 240,
        "wires": [
            [
                "ae55efe4f12608d7"
            ]
        ]
    },
    {
        "id": "26a91546b38305e7",
        "type": "inject",
        "z": "7ace4e2a8fb04426",
        "name": "лог старта",
        "props": [
            {
                "p": "payload.ev_gr",
                "v": "app",
                "vt": "str"
            },
            {
                "p": "payload.ev_type",
                "v": "info",
                "vt": "str"
            },
            {
                "p": "payload.ev_msg",
                "v": "Старт системы",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "1.5",
        "topic": "",
        "x": 150,
        "y": 320,
        "wires": [
            [
                "8c37d8280b1d3228"
            ]
        ]
    },
    {
        "id": "8c37d8280b1d3228",
        "type": "subflow:7184709957891172",
        "z": "7ace4e2a8fb04426",
        "name": "",
        "x": 340,
        "y": 320,
        "wires": [
            [
                "711cc292a0a57007"
            ]
        ]
    },
    {
        "id": "711cc292a0a57007",
        "type": "debug",
        "z": "7ace4e2a8fb04426",
        "name": "debug 12",
        "active": true,
        "tosidebar": false,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 320,
        "wires": []
    },
    {
        "id": "3e39f247429d5ab7",
        "type": "subflow:14b0dde0fa1ebbfd",
        "z": "6db3e9ae8a30bde3",
        "name": "Read version",
        "x": 530,
        "y": 360,
        "wires": [
            [
                "304e9924d69f6674",
                "d17a7fcf256dd226",
                "24be9f0f0d07a82d"
            ]
        ]
    },
    {
        "id": "99e69eb2f47eacfc",
        "type": "subflow:14b0dde0fa1ebbfd",
        "z": "6db3e9ae8a30bde3",
        "name": "read license",
        "env": [
            {
                "name": "CMD",
                "value": "license",
                "type": "str"
            },
            {
                "name": "URL",
                "value": "license",
                "type": "str"
            }
        ],
        "x": 530,
        "y": 200,
        "wires": [
            [
                "8bb39922392521a8",
                "42d7a8240fab6886",
                "a2769c61d9054dc7",
                "ab10e6010834b542",
                "61fa091c0ff29829"
            ]
        ]
    },
    {
        "id": "cc5fc510f78e0a4f",
        "type": "inject",
        "z": "6db3e9ae8a30bde3",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.6",
        "topic": "",
        "payload": "version",
        "payloadType": "str",
        "x": 120,
        "y": 360,
        "wires": [
            [
                "3e39f247429d5ab7"
            ]
        ]
    },
    {
        "id": "e759de9eacf3bb73",
        "type": "inject",
        "z": "6db3e9ae8a30bde3",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0.5",
        "topic": "",
        "payload": "license",
        "payloadType": "str",
        "x": 120,
        "y": 200,
        "wires": [
            [
                "99e69eb2f47eacfc"
            ]
        ]
    },
    {
        "id": "304e9924d69f6674",
        "type": "debug",
        "z": "6db3e9ae8a30bde3",
        "name": "debug VER",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 730,
        "y": 360,
        "wires": []
    },
    {
        "id": "8bb39922392521a8",
        "type": "debug",
        "z": "6db3e9ae8a30bde3",
        "name": "debug 8",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 720,
        "y": 140,
        "wires": []
    },
    {
        "id": "42d7a8240fab6886",
        "type": "change",
        "z": "6db3e9ae8a30bde3",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "lic.hid",
                "pt": "global",
                "to": "payload.hid",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "lic.registered",
                "pt": "global",
                "to": "payload.registered",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "lic.errmsg",
                "pt": "global",
                "to": "payload.last_err",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1000,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "47b9d855d4b5cd7e",
        "type": "ui-text",
        "z": "6db3e9ae8a30bde3",
        "group": "8b5a10d6cb022220",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "hid",
        "label": "HID компьютера",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "className": "",
        "x": 1230,
        "y": 260,
        "wires": []
    },
    {
        "id": "3748f133526cfa80",
        "type": "ui-text",
        "z": "6db3e9ae8a30bde3",
        "group": "8b5a10d6cb022220",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "errmsg",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "style": true,
        "font": "",
        "fontSize": 16,
        "color": "#d50101",
        "className": "",
        "x": 1240,
        "y": 320,
        "wires": []
    },
    {
        "id": "f4fbd1489fb385de",
        "type": "ui-switch",
        "z": "6db3e9ae8a30bde3",
        "name": "registered",
        "label": "Лицензия активирована",
        "group": "8b5a10d6cb022220",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "className": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 1240,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "a2769c61d9054dc7",
        "type": "change",
        "z": "6db3e9ae8a30bde3",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.hid",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1010,
        "y": 260,
        "wires": [
            [
                "47b9d855d4b5cd7e"
            ]
        ]
    },
    {
        "id": "ab10e6010834b542",
        "type": "change",
        "z": "6db3e9ae8a30bde3",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.last_err",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1010,
        "y": 320,
        "wires": [
            [
                "3748f133526cfa80"
            ]
        ]
    },
    {
        "id": "61fa091c0ff29829",
        "type": "change",
        "z": "6db3e9ae8a30bde3",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.registered",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1010,
        "y": 380,
        "wires": [
            [
                "f4fbd1489fb385de"
            ]
        ]
    },
    {
        "id": "d17a7fcf256dd226",
        "type": "change",
        "z": "6db3e9ae8a30bde3",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.value",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 850,
        "y": 440,
        "wires": [
            [
                "dadcc6092c54a57d"
            ]
        ]
    },
    {
        "id": "dadcc6092c54a57d",
        "type": "ui-text",
        "z": "6db3e9ae8a30bde3",
        "group": "8b5a10d6cb022220",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "value",
        "label": "Версия ПО",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "className": "",
        "x": 1230,
        "y": 440,
        "wires": []
    },
    {
        "id": "6abf9d2277eba58d",
        "type": "link in",
        "z": "6db3e9ae8a30bde3",
        "name": "link RD LIC",
        "links": [],
        "x": 405,
        "y": 160,
        "wires": [
            [
                "99e69eb2f47eacfc"
            ]
        ]
    },
    {
        "id": "64c2b1b64711a65f",
        "type": "catch",
        "z": "6db3e9ae8a30bde3",
        "name": "",
        "scope": null,
        "uncaught": false,
        "x": 110,
        "y": 460,
        "wires": [
            [
                "04aeacb41635b1d8",
                "ec8d03ef123ae2b7",
                "0d2291e4a331eef3"
            ]
        ]
    },
    {
        "id": "04aeacb41635b1d8",
        "type": "delay",
        "z": "6db3e9ae8a30bde3",
        "name": "",
        "pauseType": "rate",
        "timeout": "10",
        "timeoutUnits": "seconds",
        "rate": "3",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 320,
        "y": 560,
        "wires": [
            [
                "f64c8a6b08ce57a0"
            ]
        ]
    },
    {
        "id": "ec8d03ef123ae2b7",
        "type": "debug",
        "z": "6db3e9ae8a30bde3",
        "name": "http catch",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 280,
        "y": 400,
        "wires": []
    },
    {
        "id": "f64c8a6b08ce57a0",
        "type": "change",
        "z": "6db3e9ae8a30bde3",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload.ev_gr",
                "pt": "msg",
                "to": "http",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 590,
        "y": 560,
        "wires": [
            [
                "0756407506ddb788"
            ]
        ]
    },
    {
        "id": "0756407506ddb788",
        "type": "subflow:508d23eca865e758",
        "z": "6db3e9ae8a30bde3",
        "name": "",
        "x": 980,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "24be9f0f0d07a82d",
        "type": "function",
        "z": "6db3e9ae8a30bde3",
        "name": "запись в лог",
        "func": "msg.payload.ev_gr   = 'drv';\nmsg.payload.ev_type = 'info';\nmsg.payload.ev_msg  = 'Подключение к серверу оборудования, в.' + msg.payload.value;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 770,
        "y": 500,
        "wires": [
            [
                "ad9c5ad0ebcabc63"
            ]
        ]
    },
    {
        "id": "ad9c5ad0ebcabc63",
        "type": "subflow:7184709957891172",
        "z": "6db3e9ae8a30bde3",
        "name": "",
        "x": 970,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "5453df6dcec3a6b1",
        "type": "comment",
        "z": "6db3e9ae8a30bde3",
        "name": "чтение лицензии и версии при старте",
        "info": "",
        "x": 170,
        "y": 40,
        "wires": []
    },
    {
        "id": "adb9eb34e094f309",
        "type": "comment",
        "z": "6db3e9ae8a30bde3",
        "name": "опрос оборудования",
        "info": "",
        "x": 140,
        "y": 720,
        "wires": []
    },
    {
        "id": "889eb1f7781b351f",
        "type": "inject",
        "z": "6db3e9ae8a30bde3",
        "name": "10-20",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "[{\"weight\":10,\"valid\":true,\"stable\":true},{\"weight\":20,\"valid\":true,\"stable\":true}]",
        "payloadType": "json",
        "x": 90,
        "y": 800,
        "wires": [
            [
                "e2d2050ff89b053b"
            ]
        ]
    },
    {
        "id": "c9449ac24b468e21",
        "type": "inject",
        "z": "6db3e9ae8a30bde3",
        "name": "100-20",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "[{\"weight\":100,\"valid\":true,\"stable\":true},{\"weight\":20,\"valid\":true,\"stable\":true}]",
        "payloadType": "json",
        "x": 90,
        "y": 860,
        "wires": [
            [
                "e2d2050ff89b053b"
            ]
        ]
    },
    {
        "id": "825fa62242ec6ab4",
        "type": "subflow:f36b9cb553093c99",
        "z": "6db3e9ae8a30bde3",
        "name": "",
        "x": 570,
        "y": 800,
        "wires": [
            [
                "b0501f16ccd638ba"
            ]
        ]
    },
    {
        "id": "e2d2050ff89b053b",
        "type": "split",
        "z": "6db3e9ae8a30bde3",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "property": "payload",
        "x": 310,
        "y": 800,
        "wires": [
            [
                "825fa62242ec6ab4"
            ]
        ]
    },
    {
        "id": "b0501f16ccd638ba",
        "type": "debug",
        "z": "6db3e9ae8a30bde3",
        "name": "debug 21",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 830,
        "y": 800,
        "wires": []
    },
    {
        "id": "0d2291e4a331eef3",
        "type": "trigger",
        "z": "6db3e9ae8a30bde3",
        "name": "",
        "op1": "",
        "op2": "1",
        "op1type": "nul",
        "op2type": "str",
        "duration": "5",
        "extend": true,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 290,
        "y": 460,
        "wires": [
            [
                "3e39f247429d5ab7",
                "99e69eb2f47eacfc"
            ]
        ]
    },
    {
        "id": "f30564bcca8395e5",
        "type": "inject",
        "z": "ecf6b12423f1e7cb",
        "name": "",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "x": 130,
        "y": 120,
        "wires": [
            [
                "26ffc7d7c4cda4a9"
            ]
        ]
    },
    {
        "id": "d825a23d535ef44a",
        "type": "comment",
        "z": "ecf6b12423f1e7cb",
        "name": "инициализация при старте",
        "info": "",
        "x": 160,
        "y": 60,
        "wires": []
    },
    {
        "id": "836c5f2a673914a4",
        "type": "function",
        "z": "ecf6b12423f1e7cb",
        "name": "context init",
        "func": "// начальная инициализация контекста\n\n// кэш показаний оборудования\nvar hw = global.get('hw');\n\nfor (let i = 0; i < 32; i++) {\n    hw.scales.push(\n        {\n            \"valid\": false,\n            \"stable\": false,\n            \"weight\": 0,\n            \"upd_at\": 0,\n            \"wr_at\": 0\n        }\n    );\n    hw.sensors.push(\n        {\n            \"value\": false,\n            \"upd_at\": 0,\n            \"wr_at\": 0\n        }\n    );\n    hw.trls.push(\n        {\n            \"value\": 0,\n            \"upd_at\": 0,\n            \"wr_at\": 0\n        }\n    );\n    hw.barriers.push(\n        {\n            \"state\": \"\",\n            \"upd_at\": 0,\n            \"wr_at\": 0\n        }\n    );\n    hw.rfids.push(\"\");\n    hw.textboards.push(\"\");\n    hw.scoreboards.push(\"\");\n}\n\nglobal.set('hw', hw);\nmsg = hw;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 120,
        "wires": [
            [
                "2c5a3711842da647"
            ]
        ]
    },
    {
        "id": "2c5a3711842da647",
        "type": "debug",
        "z": "ecf6b12423f1e7cb",
        "name": "debug 19",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 720,
        "y": 120,
        "wires": []
    },
    {
        "id": "26ffc7d7c4cda4a9",
        "type": "change",
        "z": "ecf6b12423f1e7cb",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload.drvhost",
                "pt": "global",
                "to": "http://127.0.0.1:19017/api/v1",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "hw",
                "pt": "global",
                "to": "{\"scales\":[],\"sensors\":[],\"trls\":[],\"barriers\":[],\"rfids\":[],\"textboards\":[],\"scoreboards\":[]}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "diffs",
                "pt": "global",
                "to": "{\"scales\":{\"delta\":50,\"ch\":500,\"unch\":5000},\"sensors\":{\"ch\":500,\"unch\":15000},\"trls\":{\"ch\":500,\"unch\":15000},\"barriers\":{\"ch\":500,\"unch\":15000}}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 340,
        "y": 120,
        "wires": [
            [
                "836c5f2a673914a4"
            ]
        ]
    }
]