data/.flows.json.backup
[
    {
        "id": "91419fc3ca0e10e3",
        "type": "tab",
        "label": "html",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "7ace4e2a8fb04426",
        "type": "tab",
        "label": "DB",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "6db3e9ae8a30bde3",
        "type": "tab",
        "label": "http",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "14b0dde0fa1ebbfd",
        "type": "subflow",
        "name": "Subflow HTTP GET",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 200,
                "y": 80,
                "wires": [
                    {
                        "id": "1e6e155bd23cde74"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 880,
                "y": 80,
                "wires": [
                    {
                        "id": "67f104891bac4664",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [
            {
                "name": "CMD",
                "type": "str",
                "value": "version"
            }
        ],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "f63262b0a0cc45b0",
        "type": "subflow",
        "name": "Subflow HTTP POST",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 140,
                "y": 80,
                "wires": [
                    {
                        "id": "3fc9cd16a30783d4"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 680,
                "y": 80,
                "wires": [
                    {
                        "id": "77589d7ce0cc5889",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [
            {
                "name": "CMD",
                "type": "str",
                "value": "license"
            }
        ],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "872b6df0aee54332",
        "type": "global-config",
        "name": "global-config",
        "env": []
    },
    {
        "id": "1b4560745b99d6d2",
        "type": "sqlitedb",
        "db": "/data/main.db",
        "mode": "RWC"
    },
    {
        "id": "120fbe7d325ebdf0",
        "type": "ui-base",
        "name": "My Dashboard",
        "path": "/dashboard",
        "includeClientData": true,
        "acceptsClientConfig": [
            "ui-notification",
            "ui-control"
        ],
        "showPathInSidebar": false,
        "showPageTitle": true,
        "navigationStyle": "default",
        "titleBarStyle": "default"
    },
    {
        "id": "8a591effa6f76af0",
        "type": "ui-theme",
        "name": "Default Theme",
        "colors": {
            "surface": "#ffffff",
            "primary": "#0094CE",
            "bgPage": "#eeeeee",
            "groupBg": "#ffffff",
            "groupOutline": "#cccccc"
        },
        "sizes": {
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "4px",
            "widgetGap": "12px"
        }
    },
    {
        "id": "0449864c44d7bf39",
        "type": "ui-page",
        "name": "Конфигурация",
        "ui": "120fbe7d325ebdf0",
        "path": "/config",
        "icon": "cog",
        "layout": "grid",
        "theme": "8a591effa6f76af0",
        "order": 2,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "c6ead6288c8e4ee2",
        "type": "ui-group",
        "name": "My Group",
        "page": "0449864c44d7bf39",
        "width": "6",
        "height": "1",
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "a147a6e84ccbe9f8",
        "type": "ui-page",
        "name": "Регистрация",
        "ui": "120fbe7d325ebdf0",
        "path": "/regs",
        "icon": "key",
        "layout": "grid",
        "theme": "8a591effa6f76af0",
        "order": 5,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "8eddb8e7ccadb20c",
        "type": "ui-page",
        "name": "Управление",
        "ui": "120fbe7d325ebdf0",
        "path": "/ctl",
        "icon": "truck",
        "layout": "grid",
        "theme": "8a591effa6f76af0",
        "order": 1,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "ea438148c209daf5",
        "type": "ui-page",
        "name": "Настройки",
        "ui": "120fbe7d325ebdf0",
        "path": "/settings",
        "icon": "wrench",
        "layout": "grid",
        "theme": "8a591effa6f76af0",
        "order": 3,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "2ddac257f0e96f9c",
        "type": "ui-page",
        "name": "Журнал",
        "ui": "120fbe7d325ebdf0",
        "path": "/log",
        "icon": "flag",
        "layout": "grid",
        "theme": "8a591effa6f76af0",
        "order": 4,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "b61aadbc9f2ccaad",
        "type": "websocket-client",
        "path": "ws://127.0.0.1:19023",
        "tls": "",
        "wholemsg": "false",
        "hb": "0",
        "subprotocol": "",
        "headers": []
    },
    {
        "id": "8b5a10d6cb022220",
        "type": "ui-group",
        "name": "Лицензия",
        "page": "a147a6e84ccbe9f8",
        "width": "3",
        "height": "1",
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "eebad01a5b89838a",
        "type": "ui-group",
        "name": "Активация",
        "page": "a147a6e84ccbe9f8",
        "width": "3",
        "height": "1",
        "order": 2,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "70e1120c7440fcd4",
        "type": "websocket-listener",
        "path": "ws://127.0.0.1:19022",
        "wholemsg": "false"
    },
    {
        "id": "67f104891bac4664",
        "type": "http request",
        "z": "14b0dde0fa1ebbfd",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "{{{base}}}/{{path}}",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 630,
        "y": 80,
        "wires": [
            [
                "69eb4a0d2f7235cb"
            ]
        ]
    },
    {
        "id": "1e6e155bd23cde74",
        "type": "change",
        "z": "14b0dde0fa1ebbfd",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "base",
                "pt": "msg",
                "to": "payload.drvhost",
                "tot": "global"
            },
            {
                "t": "set",
                "p": "path",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 360,
        "y": 80,
        "wires": [
            [
                "67f104891bac4664",
                "05a12c67be5b619b"
            ]
        ]
    },
    {
        "id": "05a12c67be5b619b",
        "type": "debug",
        "z": "14b0dde0fa1ebbfd",
        "name": "debug 9",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 540,
        "y": 180,
        "wires": []
    },
    {
        "id": "69eb4a0d2f7235cb",
        "type": "debug",
        "z": "14b0dde0fa1ebbfd",
        "name": "debug 10",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 780,
        "y": 180,
        "wires": []
    },
    {
        "id": "77589d7ce0cc5889",
        "type": "http request",
        "z": "f63262b0a0cc45b0",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "{{{base}}}/{{path}}",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 550,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "3fc9cd16a30783d4",
        "type": "change",
        "z": "f63262b0a0cc45b0",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "base",
                "pt": "msg",
                "to": "payload.drvhost",
                "tot": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 300,
        "y": 80,
        "wires": [
            [
                "77589d7ce0cc5889"
            ]
        ]
    },
    {
        "id": "b3ca844d03d55cac",
        "type": "comment",
        "z": "91419fc3ca0e10e3",
        "name": "Краткое описание",
        "info": "Слежение за взвешиваниями на статических полноразмерных автовесах",
        "x": 110,
        "y": 60,
        "wires": []
    },
    {
        "id": "5af8e021fc11ae94",
        "type": "ui-form",
        "z": "91419fc3ca0e10e3",
        "name": "",
        "group": "eebad01a5b89838a",
        "label": "Активация драйвера",
        "order": 1,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Серийный номер",
                "key": "serialno",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Код активации",
                "key": "act_key",
                "type": "text",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "serialno": "",
            "act_key": ""
        },
        "payload": "",
        "submit": "Готово",
        "cancel": "Отмена",
        "resetOnSubmit": true,
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "className": "",
        "passthru": false,
        "x": 140,
        "y": 140,
        "wires": [
            [
                "07cdef9577239405",
                "6b05c48041c84e20"
            ]
        ]
    },
    {
        "id": "07cdef9577239405",
        "type": "debug",
        "z": "91419fc3ca0e10e3",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 360,
        "y": 80,
        "wires": []
    },
    {
        "id": "6b05c48041c84e20",
        "type": "function",
        "z": "91419fc3ca0e10e3",
        "name": "function 1",
        "func": "msg.req = {};\nmsg.req.body = {};\nmsg.req.body.serialno = msg.payload.serialno;\nmsg.req.body.act_key  = msg.payload.act_key;\nmsg.path = 'license';\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 200,
        "wires": [
            [
                "55fa35850693fb3b",
                "e55bf9dfa87cf692"
            ]
        ]
    },
    {
        "id": "55fa35850693fb3b",
        "type": "subflow:f63262b0a0cc45b0",
        "z": "91419fc3ca0e10e3",
        "name": "",
        "x": 720,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "3c79b1b76da60755",
        "type": "link call",
        "z": "91419fc3ca0e10e3",
        "name": "LIC REREAD",
        "links": [
            "6abf9d2277eba58d"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 860,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "e55bf9dfa87cf692",
        "type": "change",
        "z": "91419fc3ca0e10e3",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "license",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 650,
        "y": 280,
        "wires": [
            [
                "3c79b1b76da60755"
            ]
        ]
    },
    {
        "id": "497045853487ebee",
        "type": "inject",
        "z": "7ace4e2a8fb04426",
        "name": "CREATE TABLE",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "CREATE TABLE test(fst INT, timestamp TEXT)",
        "x": 200,
        "y": 100,
        "wires": [
            [
                "a24d712a0ae056ce"
            ]
        ]
    },
    {
        "id": "a24d712a0ae056ce",
        "type": "sqlite",
        "z": "7ace4e2a8fb04426",
        "mydb": "1b4560745b99d6d2",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "main",
        "x": 390,
        "y": 100,
        "wires": [
            [
                "d6b87df0cd649863"
            ]
        ]
    },
    {
        "id": "d6b87df0cd649863",
        "type": "debug",
        "z": "7ace4e2a8fb04426",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 560,
        "y": 100,
        "wires": []
    },
    {
        "id": "581c62edf85ef565",
        "type": "inject",
        "z": "7ace4e2a8fb04426",
        "name": "",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "INSERT INTO test(fst) VALUES(1)",
        "x": 200,
        "y": 300,
        "wires": [
            [
                "a24d712a0ae056ce"
            ]
        ]
    },
    {
        "id": "6d9c30f9785edd00",
        "type": "inject",
        "z": "7ace4e2a8fb04426",
        "name": "",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "SELECT * FROM test",
        "x": 160,
        "y": 40,
        "wires": [
            [
                "a24d712a0ae056ce"
            ]
        ]
    },
    {
        "id": "3e39f247429d5ab7",
        "type": "subflow:14b0dde0fa1ebbfd",
        "z": "6db3e9ae8a30bde3",
        "name": "Read version",
        "x": 330,
        "y": 360,
        "wires": [
            [
                "304e9924d69f6674",
                "d17a7fcf256dd226"
            ]
        ]
    },
    {
        "id": "99e69eb2f47eacfc",
        "type": "subflow:14b0dde0fa1ebbfd",
        "z": "6db3e9ae8a30bde3",
        "name": "read license",
        "env": [
            {
                "name": "CMD",
                "value": "license",
                "type": "str"
            },
            {
                "name": "URL",
                "value": "license",
                "type": "str"
            }
        ],
        "x": 350,
        "y": 200,
        "wires": [
            [
                "8bb39922392521a8",
                "42d7a8240fab6886",
                "a2769c61d9054dc7",
                "ab10e6010834b542",
                "61fa091c0ff29829"
            ]
        ]
    },
    {
        "id": "cc5fc510f78e0a4f",
        "type": "inject",
        "z": "6db3e9ae8a30bde3",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "version",
        "payloadType": "str",
        "x": 110,
        "y": 360,
        "wires": [
            [
                "3e39f247429d5ab7"
            ]
        ]
    },
    {
        "id": "e759de9eacf3bb73",
        "type": "inject",
        "z": "6db3e9ae8a30bde3",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "license",
        "payloadType": "str",
        "x": 110,
        "y": 200,
        "wires": [
            [
                "99e69eb2f47eacfc"
            ]
        ]
    },
    {
        "id": "304e9924d69f6674",
        "type": "debug",
        "z": "6db3e9ae8a30bde3",
        "name": "debug 7",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 300,
        "wires": []
    },
    {
        "id": "8bb39922392521a8",
        "type": "debug",
        "z": "6db3e9ae8a30bde3",
        "name": "debug 8",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 860,
        "y": 120,
        "wires": []
    },
    {
        "id": "f30564bcca8395e5",
        "type": "inject",
        "z": "6db3e9ae8a30bde3",
        "name": "",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "x": 130,
        "y": 80,
        "wires": [
            [
                "bf299791a498a150"
            ]
        ]
    },
    {
        "id": "bf299791a498a150",
        "type": "change",
        "z": "6db3e9ae8a30bde3",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload.drvhost",
                "pt": "global",
                "to": "http://127.0.0.1:19017/api/v1",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 500,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "42d7a8240fab6886",
        "type": "change",
        "z": "6db3e9ae8a30bde3",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "lic.hid",
                "pt": "global",
                "to": "payload.hid",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "lic.registered",
                "pt": "global",
                "to": "payload.registered",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "lic.errmsg",
                "pt": "global",
                "to": "payload.last_err",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1000,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "47b9d855d4b5cd7e",
        "type": "ui-text",
        "z": "6db3e9ae8a30bde3",
        "group": "8b5a10d6cb022220",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "hid",
        "label": "HID компьютера",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "className": "",
        "x": 1250,
        "y": 300,
        "wires": []
    },
    {
        "id": "3748f133526cfa80",
        "type": "ui-text",
        "z": "6db3e9ae8a30bde3",
        "group": "8b5a10d6cb022220",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "errmsg",
        "label": "Сообщение об ошибке",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "style": true,
        "font": "",
        "fontSize": 16,
        "color": "#d50101",
        "className": "",
        "x": 1260,
        "y": 340,
        "wires": []
    },
    {
        "id": "f4fbd1489fb385de",
        "type": "ui-switch",
        "z": "6db3e9ae8a30bde3",
        "name": "registered",
        "label": "Лицензия активирована",
        "group": "8b5a10d6cb022220",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "className": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 1260,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "a2769c61d9054dc7",
        "type": "change",
        "z": "6db3e9ae8a30bde3",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.hid",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1010,
        "y": 260,
        "wires": [
            [
                "47b9d855d4b5cd7e"
            ]
        ]
    },
    {
        "id": "ab10e6010834b542",
        "type": "change",
        "z": "6db3e9ae8a30bde3",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.last_err",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1010,
        "y": 320,
        "wires": [
            [
                "3748f133526cfa80"
            ]
        ]
    },
    {
        "id": "61fa091c0ff29829",
        "type": "change",
        "z": "6db3e9ae8a30bde3",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.registered",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1010,
        "y": 380,
        "wires": [
            [
                "f4fbd1489fb385de"
            ]
        ]
    },
    {
        "id": "d17a7fcf256dd226",
        "type": "change",
        "z": "6db3e9ae8a30bde3",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.value",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 710,
        "y": 460,
        "wires": [
            [
                "dadcc6092c54a57d",
                "218e747138091b68"
            ]
        ]
    },
    {
        "id": "dadcc6092c54a57d",
        "type": "ui-text",
        "z": "6db3e9ae8a30bde3",
        "group": "8b5a10d6cb022220",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "value",
        "label": "Версия ПО",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "className": "",
        "x": 950,
        "y": 500,
        "wires": []
    },
    {
        "id": "218e747138091b68",
        "type": "debug",
        "z": "6db3e9ae8a30bde3",
        "name": "debug 11",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 970,
        "y": 440,
        "wires": []
    },
    {
        "id": "6abf9d2277eba58d",
        "type": "link in",
        "z": "6db3e9ae8a30bde3",
        "name": "link RD LIC",
        "links": [],
        "x": 205,
        "y": 260,
        "wires": [
            [
                "99e69eb2f47eacfc"
            ]
        ]
    }
]