data/flows.json
[
    {
        "id": "91419fc3ca0e10e3",
        "type": "tab",
        "label": "html",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "7ace4e2a8fb04426",
        "type": "tab",
        "label": "DB",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "cc807d464c2b92f1",
        "type": "tab",
        "label": "ws",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "6db3e9ae8a30bde3",
        "type": "tab",
        "label": "http",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "14b0dde0fa1ebbfd",
        "type": "subflow",
        "name": "Subflow HTTP GET",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 200,
                "y": 80,
                "wires": [
                    {
                        "id": "1e6e155bd23cde74"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 1200,
                "y": 100,
                "wires": [
                    {
                        "id": "67f104891bac4664",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [
            {
                "name": "CMD",
                "type": "str",
                "value": "version"
            }
        ],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "872b6df0aee54332",
        "type": "global-config",
        "name": "global-config",
        "env": []
    },
    {
        "id": "1b4560745b99d6d2",
        "type": "sqlitedb",
        "db": "/data/main.db",
        "mode": "RWC"
    },
    {
        "id": "120fbe7d325ebdf0",
        "type": "ui-base",
        "name": "My Dashboard",
        "path": "/dashboard",
        "includeClientData": true,
        "acceptsClientConfig": [
            "ui-notification",
            "ui-control"
        ],
        "showPathInSidebar": false,
        "showPageTitle": true,
        "navigationStyle": "default",
        "titleBarStyle": "default"
    },
    {
        "id": "8a591effa6f76af0",
        "type": "ui-theme",
        "name": "Default Theme",
        "colors": {
            "surface": "#ffffff",
            "primary": "#0094CE",
            "bgPage": "#eeeeee",
            "groupBg": "#ffffff",
            "groupOutline": "#cccccc"
        },
        "sizes": {
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "4px",
            "widgetGap": "12px"
        }
    },
    {
        "id": "0449864c44d7bf39",
        "type": "ui-page",
        "name": "Конфигурация",
        "ui": "120fbe7d325ebdf0",
        "path": "/config",
        "icon": "cog",
        "layout": "grid",
        "theme": "8a591effa6f76af0",
        "order": 2,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "c6ead6288c8e4ee2",
        "type": "ui-group",
        "name": "My Group",
        "page": "0449864c44d7bf39",
        "width": "6",
        "height": "1",
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "a147a6e84ccbe9f8",
        "type": "ui-page",
        "name": "Регистрация",
        "ui": "120fbe7d325ebdf0",
        "path": "/regs",
        "icon": "key",
        "layout": "grid",
        "theme": "8a591effa6f76af0",
        "order": 5,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "8eddb8e7ccadb20c",
        "type": "ui-page",
        "name": "Управление",
        "ui": "120fbe7d325ebdf0",
        "path": "/ctl",
        "icon": "truck",
        "layout": "grid",
        "theme": "8a591effa6f76af0",
        "order": 1,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "ea438148c209daf5",
        "type": "ui-page",
        "name": "Настройки",
        "ui": "120fbe7d325ebdf0",
        "path": "/settings",
        "icon": "wrench",
        "layout": "grid",
        "theme": "8a591effa6f76af0",
        "order": 3,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "2ddac257f0e96f9c",
        "type": "ui-page",
        "name": "Журнал",
        "ui": "120fbe7d325ebdf0",
        "path": "/log",
        "icon": "flag",
        "layout": "grid",
        "theme": "8a591effa6f76af0",
        "order": 4,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "b61aadbc9f2ccaad",
        "type": "websocket-client",
        "path": "ws://127.0.0.1:19023",
        "tls": "",
        "wholemsg": "false",
        "hb": "0",
        "subprotocol": "",
        "headers": []
    },
    {
        "id": "8b5a10d6cb022220",
        "type": "ui-group",
        "name": "Лицензия",
        "page": "a147a6e84ccbe9f8",
        "width": "3",
        "height": "1",
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "eebad01a5b89838a",
        "type": "ui-group",
        "name": "Активация",
        "page": "a147a6e84ccbe9f8",
        "width": "3",
        "height": "1",
        "order": 2,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "70e1120c7440fcd4",
        "type": "websocket-listener",
        "path": "ws://127.0.0.1:19022",
        "wholemsg": "false"
    },
    {
        "id": "67f104891bac4664",
        "type": "http request",
        "z": "14b0dde0fa1ebbfd",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "{{{base}}}/version",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 790,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "1e6e155bd23cde74",
        "type": "change",
        "z": "14b0dde0fa1ebbfd",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "base",
                "pt": "msg",
                "to": "payload.drvhost",
                "tot": "global"
            },
            {
                "t": "set",
                "p": "path",
                "pt": "msg",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 340,
        "y": 180,
        "wires": [
            [
                "67f104891bac4664",
                "05a12c67be5b619b"
            ]
        ]
    },
    {
        "id": "05a12c67be5b619b",
        "type": "debug",
        "z": "14b0dde0fa1ebbfd",
        "name": "debug 9",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 730,
        "y": 200,
        "wires": []
    },
    {
        "id": "b3ca844d03d55cac",
        "type": "comment",
        "z": "91419fc3ca0e10e3",
        "name": "Краткое описание",
        "info": "Слежение за взвешиваниями на статических полноразмерных автовесах",
        "x": 110,
        "y": 60,
        "wires": []
    },
    {
        "id": "80d45151b79b4576",
        "type": "inject",
        "z": "91419fc3ca0e10e3",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 140,
        "wires": [
            [
                "5ce4f9ddf9cf0611",
                "67cdba789c23cb43"
            ]
        ]
    },
    {
        "id": "5ce4f9ddf9cf0611",
        "type": "debug",
        "z": "91419fc3ca0e10e3",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 540,
        "y": 140,
        "wires": []
    },
    {
        "id": "67cdba789c23cb43",
        "type": "ui-text",
        "z": "91419fc3ca0e10e3",
        "group": "c6ead6288c8e4ee2",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "counter",
        "label": "text",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "className": "",
        "x": 500,
        "y": 260,
        "wires": []
    },
    {
        "id": "5af8e021fc11ae94",
        "type": "ui-form",
        "z": "91419fc3ca0e10e3",
        "name": "",
        "group": "eebad01a5b89838a",
        "label": "",
        "order": 1,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Серийный номер",
                "key": "serialno",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Код активации",
                "key": "act_key",
                "type": "text",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "serialno": "",
            "act_key": ""
        },
        "payload": "",
        "submit": "Готово",
        "cancel": "Отмена",
        "resetOnSubmit": true,
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "className": "",
        "passthru": false,
        "x": 150,
        "y": 420,
        "wires": [
            [
                "07cdef9577239405"
            ]
        ]
    },
    {
        "id": "07cdef9577239405",
        "type": "debug",
        "z": "91419fc3ca0e10e3",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 340,
        "y": 420,
        "wires": []
    },
    {
        "id": "497045853487ebee",
        "type": "inject",
        "z": "7ace4e2a8fb04426",
        "name": "CREATE TABLE",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "CREATE TABLE test(fst INT, timestamp TEXT)",
        "x": 200,
        "y": 100,
        "wires": [
            [
                "a24d712a0ae056ce"
            ]
        ]
    },
    {
        "id": "a24d712a0ae056ce",
        "type": "sqlite",
        "z": "7ace4e2a8fb04426",
        "mydb": "1b4560745b99d6d2",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "main",
        "x": 390,
        "y": 100,
        "wires": [
            [
                "d6b87df0cd649863"
            ]
        ]
    },
    {
        "id": "d6b87df0cd649863",
        "type": "debug",
        "z": "7ace4e2a8fb04426",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 560,
        "y": 100,
        "wires": []
    },
    {
        "id": "581c62edf85ef565",
        "type": "inject",
        "z": "7ace4e2a8fb04426",
        "name": "",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "INSERT INTO test(fst) VALUES(1)",
        "x": 200,
        "y": 300,
        "wires": [
            [
                "a24d712a0ae056ce"
            ]
        ]
    },
    {
        "id": "6d9c30f9785edd00",
        "type": "inject",
        "z": "7ace4e2a8fb04426",
        "name": "",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "SELECT * FROM test",
        "x": 160,
        "y": 40,
        "wires": [
            [
                "a24d712a0ae056ce"
            ]
        ]
    },
    {
        "id": "62d68942cc88779e",
        "type": "websocket in",
        "z": "cc807d464c2b92f1",
        "name": "ws driver client",
        "server": "70e1120c7440fcd4",
        "client": "",
        "x": 100,
        "y": 120,
        "wires": [
            [
                "9d5f5cfc3fd5c0cf",
                "63bd7e9d772fa1df"
            ]
        ]
    },
    {
        "id": "b05c9c9f0657ede7",
        "type": "comment",
        "z": "cc807d464c2b92f1",
        "name": "обмен с оборудованием",
        "info": "",
        "x": 170,
        "y": 60,
        "wires": []
    },
    {
        "id": "ced30b7a66c95c18",
        "type": "debug",
        "z": "cc807d464c2b92f1",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 600,
        "y": 140,
        "wires": []
    },
    {
        "id": "9d5f5cfc3fd5c0cf",
        "type": "function",
        "z": "cc807d464c2b92f1",
        "name": "function 1",
        "func": "\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 300,
        "y": 220,
        "wires": [
            [
                "ced30b7a66c95c18"
            ]
        ]
    },
    {
        "id": "faad34d45b686138",
        "type": "inject",
        "z": "cc807d464c2b92f1",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"event\":\"license\",\"hid\":\"1257667743\",\"registered\":true,\"err\":\"\"}",
        "payloadType": "str",
        "x": 180,
        "y": 380,
        "wires": [
            [
                "63bd7e9d772fa1df"
            ]
        ]
    },
    {
        "id": "76064a359eea9839",
        "type": "debug",
        "z": "cc807d464c2b92f1",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 980,
        "y": 320,
        "wires": []
    },
    {
        "id": "63bd7e9d772fa1df",
        "type": "json",
        "z": "cc807d464c2b92f1",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": true,
        "x": 390,
        "y": 480,
        "wires": [
            [
                "12c34a72229741f0"
            ]
        ]
    },
    {
        "id": "209fb49f3449e3f1",
        "type": "change",
        "z": "cc807d464c2b92f1",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "lic.hid",
                "pt": "global",
                "to": "payload.hid",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "lic.registered",
                "pt": "global",
                "to": "payload.registered",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "lic.errmsg",
                "pt": "global",
                "to": "payload.err",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 780,
        "y": 400,
        "wires": [
            [
                "76064a359eea9839"
            ]
        ]
    },
    {
        "id": "12c34a72229741f0",
        "type": "switch",
        "z": "cc807d464c2b92f1",
        "name": "",
        "property": "payload.event",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "license",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "err",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 530,
        "y": 580,
        "wires": [
            [
                "209fb49f3449e3f1",
                "50ed919b4e48103f",
                "34c31c254ac23434",
                "681ff75b06bc6749"
            ],
            [
                "381261f4f41c8fe5"
            ]
        ]
    },
    {
        "id": "381261f4f41c8fe5",
        "type": "debug",
        "z": "cc807d464c2b92f1",
        "name": "debug 6",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 880,
        "y": 780,
        "wires": []
    },
    {
        "id": "af3596e77ab87af8",
        "type": "ui-text",
        "z": "cc807d464c2b92f1",
        "group": "8b5a10d6cb022220",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "hid",
        "label": "HID компьютера",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "className": "",
        "x": 1090,
        "y": 580,
        "wires": []
    },
    {
        "id": "15c8c6c6f9af0f24",
        "type": "ui-text",
        "z": "cc807d464c2b92f1",
        "group": "8b5a10d6cb022220",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "errmsg",
        "label": "Ошибка активации",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#717171",
        "className": "",
        "x": 1100,
        "y": 620,
        "wires": []
    },
    {
        "id": "6b7debbe6d1ea598",
        "type": "ui-switch",
        "z": "cc807d464c2b92f1",
        "name": "registered",
        "label": "Лицензия активирована",
        "group": "8b5a10d6cb022220",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "className": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "x": 1100,
        "y": 680,
        "wires": [
            []
        ]
    },
    {
        "id": "50ed919b4e48103f",
        "type": "change",
        "z": "cc807d464c2b92f1",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.hid",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 850,
        "y": 540,
        "wires": [
            [
                "af3596e77ab87af8"
            ]
        ]
    },
    {
        "id": "34c31c254ac23434",
        "type": "change",
        "z": "cc807d464c2b92f1",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.err",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 850,
        "y": 600,
        "wires": [
            [
                "15c8c6c6f9af0f24"
            ]
        ]
    },
    {
        "id": "681ff75b06bc6749",
        "type": "change",
        "z": "cc807d464c2b92f1",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.registered",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 850,
        "y": 660,
        "wires": [
            [
                "6b7debbe6d1ea598"
            ]
        ]
    },
    {
        "id": "3e39f247429d5ab7",
        "type": "subflow:14b0dde0fa1ebbfd",
        "z": "6db3e9ae8a30bde3",
        "name": "Read version",
        "x": 510,
        "y": 480,
        "wires": [
            [
                "304e9924d69f6674"
            ]
        ]
    },
    {
        "id": "99e69eb2f47eacfc",
        "type": "subflow:14b0dde0fa1ebbfd",
        "z": "6db3e9ae8a30bde3",
        "name": "read license",
        "env": [
            {
                "name": "URL",
                "value": "license",
                "type": "str"
            }
        ],
        "x": 500,
        "y": 380,
        "wires": [
            [
                "8bb39922392521a8"
            ]
        ]
    },
    {
        "id": "cc5fc510f78e0a4f",
        "type": "inject",
        "z": "6db3e9ae8a30bde3",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "version",
        "payloadType": "str",
        "x": 190,
        "y": 480,
        "wires": [
            [
                "3e39f247429d5ab7"
            ]
        ]
    },
    {
        "id": "e759de9eacf3bb73",
        "type": "inject",
        "z": "6db3e9ae8a30bde3",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 290,
        "y": 380,
        "wires": [
            [
                "99e69eb2f47eacfc"
            ]
        ]
    },
    {
        "id": "304e9924d69f6674",
        "type": "debug",
        "z": "6db3e9ae8a30bde3",
        "name": "debug 7",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1120,
        "y": 560,
        "wires": []
    },
    {
        "id": "8bb39922392521a8",
        "type": "debug",
        "z": "6db3e9ae8a30bde3",
        "name": "debug 8",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 670,
        "y": 380,
        "wires": []
    },
    {
        "id": "f30564bcca8395e5",
        "type": "inject",
        "z": "6db3e9ae8a30bde3",
        "name": "",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "x": 130,
        "y": 80,
        "wires": [
            [
                "bf299791a498a150"
            ]
        ]
    },
    {
        "id": "bf299791a498a150",
        "type": "change",
        "z": "6db3e9ae8a30bde3",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload.drvhost",
                "pt": "global",
                "to": "http://127.0.0.1:19017/api/v1",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 500,
        "y": 80,
        "wires": [
            []
        ]
    }
]