data/flows.json
[
    {
        "id": "91419fc3ca0e10e3",
        "type": "tab",
        "label": "Поток 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "7ace4e2a8fb04426",
        "type": "tab",
        "label": "DB",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "872b6df0aee54332",
        "type": "global-config",
        "name": "global-config",
        "env": []
    },
    {
        "id": "1b4560745b99d6d2",
        "type": "sqlitedb",
        "db": "/data/main.db",
        "mode": "RWC"
    },
    {
        "id": "b3ca844d03d55cac",
        "type": "comment",
        "z": "91419fc3ca0e10e3",
        "name": "Краткое описание",
        "info": "Слежение за взвешиваниями на статических полноразмерных автовесах",
        "x": 110,
        "y": 60,
        "wires": []
    },
    {
        "id": "497045853487ebee",
        "type": "inject",
        "z": "7ace4e2a8fb04426",
        "name": "CREATE TABLE",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "CREATE TABLE test(fst INT, timestamp TEXT)",
        "x": 200,
        "y": 100,
        "wires": [
            [
                "a24d712a0ae056ce"
            ]
        ]
    },
    {
        "id": "a24d712a0ae056ce",
        "type": "sqlite",
        "z": "7ace4e2a8fb04426",
        "mydb": "1b4560745b99d6d2",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "main",
        "x": 390,
        "y": 100,
        "wires": [
            [
                "d6b87df0cd649863"
            ]
        ]
    },
    {
        "id": "d6b87df0cd649863",
        "type": "debug",
        "z": "7ace4e2a8fb04426",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 560,
        "y": 100,
        "wires": []
    },
    {
        "id": "581c62edf85ef565",
        "type": "inject",
        "z": "7ace4e2a8fb04426",
        "name": "",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "INSERT INTO test(fst) VALUES(1)",
        "x": 200,
        "y": 300,
        "wires": [
            [
                "a24d712a0ae056ce"
            ]
        ]
    },
    {
        "id": "6d9c30f9785edd00",
        "type": "inject",
        "z": "7ace4e2a8fb04426",
        "name": "",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "SELECT * FROM test",
        "x": 160,
        "y": 40,
        "wires": [
            [
                "a24d712a0ae056ce"
            ]
        ]
    }
]